<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anime</title>
    <link href="https://fonts.googleapis.com/css2?family=Vampiro+One&display=swap" rel="stylesheet">
    <link href="animeStyle.css" rel="stylesheet" type="text/css">

</head>
<body>
    <h1 id="result">These are the search Results!!!</h1>
    <div class="ejs">
        
        <% 
            for (var i =0;i<animeData.length;++i){%>
                <div class="oneAnime">
                    <a href="<%=animeData[i].url%>">
                        <img src="<%= animeData[i].image_url%> "alt="Image" class="search-img"></br>
                        <div class="details">
                            <p class="title"><b>Title:</b> <%=animeData[i].title%></p>
                            <p class="type"><b>Type:</b> <%=animeData[i].type%></p>
                            <p class="para"><%=animeData[i].synopsis%></p>
                        </div>
                    </a>
                </div>
            <%}
        %>

    </div>
</body>
</html>