<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anime</title>
    <link href="https://fonts.googleapis.com/css2?family=Vampiro+One&display=swap" rel="stylesheet">
    <link href="animeStyle.css" rel="stylesheet" type="text/css">

</head>
<body>
    <h1 id="result">These are the search Results!!!</h1>
    <div class="ejs">
        
        <% 
            for (var i =0;i<animeData.length;++i){%>
                <div class="oneAnime">
                    <a href="<%=animeData[i].url%>">
                        <img src="<%= animeData[i].image_url%> "alt="Image"></br>
                    </a>
                    Title:<%=animeData[i].title%></br>
                    Type:<%=animeData[i].type%></br>
                    <%=animeData[i].synopsis%></br>
    
                </div>
            
            <%}
        %>

    </div>
</body>
</html>